body{
  margin:0;
}
a{
  color:inherit;
  text-decoration: inherit;
}
a:hover{
  color:inherit;
  text-decoration: inherit;
}
header{
  width:100%;
  display:flex;
  justify-content: space-between;
  padding:0 4%;
  align-items: center;
  box-sizing: border-box;
}
header h1{
  width:100px;
}
header img{
  width:100%;
}
header nav{
  font-size: 15px;
  display: flex;
  align-items: center;
}
header nav figure{
  width:40px;
  margin-right: 10px;
}
header nav strong{
  font-size: 32px;
}


header button{
  z-index: 2;
  background-color: transparent;
  border:none;
}
header button span{
  background-color: black;
  width:35px;
  height:2px;
  display:block;
  margin-bottom:9px;
}
header button span:last-child{
  margin-bottom:0;
}
.mobile-menu{
  background-color: #618e34;
  color:white;
  opacity:0.8;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  z-index:1;
  transition:all 0.7s;
}
.mobile-menu li{
  margin-bottom:30px;
  list-style: none;
}
.menu-closed{
  transform: translate(-100%);
}

span.menu-opened{
  transition:all 0.7s;
}
span.menu-opened:nth-child(1){
transform: translateY(11px) rotate(135deg);
background-color:white;
}
span.menu-opened:nth-child(2){
transform: translateX(-18px) scaleX(0);
background-color:white;
}
span.menu-opened:nth-child(3){
transform:translateY(-11px) rotate(-135deg);
background-color:white;
}

section#main-visual{
  background-image: url(https://kirihare.jp/biz/img/top-content.png);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position:relative;
  padding:30px 15px 0 15px;
  margin-bottom:30px;
}
section#main-visual .sentence{
}
#main-visual h2{
  color:#618e34;
  margin-bottom:35px;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}
#main-visual p{
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}
#button{
  padding:0 15px;
}
#button .btn{
  text-align: center;
}
#button .btn button{
  background-color: #618e34;
  color:white;
  border:none;
  font-size: 0.85rem;
    font-weight: 600;
    padding: 5px 10px;
    width:200px;
    border-radius: 56px;
    line-height: 1.6rem;
    min-width: 10em;
    display: block;
    margin:0 auto 50px auto;
}
@media(min-width:769px)  {
  .only-mb{
    display:none;
  }
  section#main-visual .sentence{
    padding-left:100px;
  }
}
@media(max-width:768px) {
  .only-pc{
    display:none;
  }
  section#main-visual {
  height:360px;
  }
  section#main-visual .sentence{
    padding-right:30px;
  }
}
